@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body,
html {
    font-size: 15px;
    line-height: 1.4666666667;
    color: #000;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Raleway', sans-serif;
}
.blogtopbanner {
    border-bottom: 5px none #2dafc3;
    background-image: url(../images/headerblog.jpg);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.aboutheading {
    padding: 100px;
}
.blogarea {
    padding: 50px;
}
.blogareadata img {
    margin: 0 auto;
    width: 100%;
    height: 500px;
}
.blogareadataa img {
    margin: 0 auto;
    width: 100%;
    height: 250px;
}
.blogareadata {
    background: #f4f4f4;
    margin-bottom: 30px;
}
.blogareadataa {
    background: #f4f4f4;
    margin-bottom: 30px;
}
.blogertext {
    padding: 25px;
}
.blogertext h5 {
    color: #d6bd8e;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: -10px;
}
.blogertext h2 {
    color: #465863;
    font-size: 25px;
    font-weight: 700;
}
.blogertext h3 {
    color: #465863;
    font-size: 19px;
    font-weight: 500;
    line-height: 25px;
    margin-top: 0px;
    margin-bottom: 35px;
}
.blogclick {
    background: transparent;
    color: #d6bd8e;
    border-color: transparent;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
}
.blogclickk {
    background: transparent;
    color: #d6bd8e;
    border-color: transparent;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    margin-top: -15px;
}
.blogclickk:hover {
    background: transparent;
    color: #46587a;
}
.blogclick:hover {
    background: transparent;
    color: #46587a;
}
.sideblogdata input {
    height: 42px;
    border-radius: 100px;
    color: #465863;
    margin-bottom: 20px;
}
.sideblog {
    background: #f4f4f4;
    padding: 20px;
}
.populardata {
    background: #f4f4f4;
    padding: 20px;
    margin-top: 25px;
}
.sideblog {
    background: #f4f4f4;
    padding: 25px;
    text-align: center;
}
.sideblog p {
    color: #465863;
    font-size: 19px;
    font-weight: 500;
    line-height: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}
.sideblogdata img {
    height: 200px;
    margin: 0 auto;
}
.catagedata {
    background: #f4f4f4;
    padding: 20px;
    margin-top: 25px;
}
.catagedata h3 {
    color: #465863;
    font-size: 26px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
}
.catclick {
    background: transparent;
    color: #545454;
    border-color: #545454;
    font-size: 14px;
    font-weight: 500;
    margin: 2px;
}
.catclick:hover {
    background: transparent;
    color: #545454;
    border-color: #545454;
    font-size: 14px;
    font-weight: 500;
    margin: 2px;
}
.populardata h3 {
    color: #465863;
    font-size: 26px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
}
.populardata h5 {
    color: #d6bd8e;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: -10px;
    margin-top: 30px;
}
.populardata h2 {
    color: #465863;
    font-size: 17px;
    font-weight: 600;
}
.pagidata {
    text-align: center;
}
.backnext a {
    background: #465863!important;
    color: white !important;
}
.pgnumb {
    color: #465863 !important;
}



@media only screen and (max-width : 480px) {
    .aboutheading {
        padding: 50px;
    }
    .aboutheading h1 {
        margin-bottom: 20px !important;
    }
    .blogareadata img {
        margin: 0 auto;
        width: 100%;
        height: 150px;
    }
    .blogarea {
        padding: 25px;
    }
    .blogertext h2 {
        color: #465863;
        font-size: 21px;
        font-weight: 700;
    }
    .blogertext h3 {
        color: #465863;
        font-size: 19px;
        font-weight: 500;
        line-height: 25px;
        margin-top: 0px;
        margin-bottom: 25px;
    }
    .catagedata h3 {
        color: #465863;
        font-size: 26px;
        font-weight: 700;
        margin-top: 5px;
        margin-bottom: 20px;
        text-align: start;
    }
    .populardata h3 {
        color: #465863;
        font-size: 26px;
        font-weight: 700;
        margin-top: 5px;
        margin-bottom: 20px;
        text-align: start;
    }
    .pagidata {
        text-align: center;
        margin-top: 20px;
    }
}