
    .permiback {

    width: 100px !important;
    height: 28px !important;
    padding: 6px 5px !important;
    border-radius: 0px !important;
    margin-bottom: 14px !important;
    float: right;
    background: #da3e16 !important;
    border-color: #da3e16 !important;
    color: white !important;

    }

.top_datatable {
    display: flex;
    margin-bottom: 15px;
}

.show-product-img {
    height: 42px;
    width: 42px;
}

.form-img {
    float: right;
    margin-top: 11px;
}

.show-table {
    width: 100%;
}

.render-pagination {
    float: right;
}

span.error {
    color: red;
}

.error-product {
    color: red;
    padding-left: 211px;
}

a#production {
    border-radius: 12px;
    background-color: lightblue;
    color: black;
    font-size: inherit;
    font-style: normal;
    font-weight: 900;
}

.checkbox-text {
    float: right;
}

span#parent_location {
    font-size: 15px;
    /* font-style: italic; */
    font-family: 'themify';
    font-weight: 100;
    color: palevioletred;
    /* border-style: outset; */
    /* background-color: black; */
}

.date-range-review-btn {
    position: absolute!important;
    top: 125%!important;
    left: 10%!important;
}

.dell-gallery {
    font-size: 15px;
    font-weight: 400;
    padding: 8px 22px;
    margin: 10px;
}

.add-param-img {
    width: 42px;
    cursor: pointer;
}

.param-value {
    margin-bottom: 5px;
    margin-top: 5px;
}

.add-param {
    padding-bottom: 15px;
    padding-top: 0px;
    border: solid 1px #d4cccc;
    margin-bottom: 10px;
}

.box_header {
    height: 40px;
    padding-top: 7px;
    background: #e4e4e4;
    margin-bottom: 16px;
}

.box {
    background: #e8e8e8;
    padding: 14px 10px 14px 10px;
}

.close-box {
    position: absolute;
    right: 0;
}

.input-box {
    width: 200px !important;
}

.select2-results__options {
    float: left;
    text-align: left;
}

.select2 {
    width: 100%!important
}

.select2-selection__rendered {
    float: left;
}

.select2-search__field {
    float: left;
}

span.select2-selection.select2-selection--multiple {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    direction: ltr;
}

.dynamic-param-value {
    margin-bottom: 25px;
}

.button_select_cancel {
    width: 40% !important;
    float: left;
    margin: 0 0px 0px 20px !important;
}

.select_cateogry {
    width: 30% !important;
    padding: 10px 0 10px 0;
    float: right;
    margin-top: -2px !important;
}

.category_dropdown {
    width: 64%;
    float: left;
}

.hint-span {
    color: #9da0a4;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
}

.google_searchbox {
    width: 320px;
    height: 40px;
    padding: 2px 0 2px 14px;
    border-radius: 6px;
    border: solid 1px #9e9e9e;
    font-size: 15px;
    box-shadow: 4px 4px 4px 0px #bfbfbf;
}

.google_searchbox:focus {
    outline: none;
}

.img-gallery {
    height: 75%;
    width: 100%;
    object-fit: contain
}

.gallery-img-container {
    width: 300px;
    height: 250px;
}

.language-toggle {
    margin-right: 7px;
    margin-bottom: 3px;
}

.extra-width {
    width: 1039px!important;
    height: 1500px;
    /* control height here */
}

.align-btn {
    top: 197%!important;
}

#direction_map:focus {
    background-color: #1374c5 !important;
    background: #1374c5 !important;
    color: #fff !important;
}

div#my_msg_div {
    margin-left: 109px;
}

div#my_msg_div {
    margin-left: 6px;
}

span.myduty {
    margin-left: 5px;
    font-family: inherit;
    font-size: initial;
    font-weight: lighter;
    margin-right: 15px;
}

span.myoff {
    margin-left: 5px;
    font-family: inherit;
    font-size: initial;
    font-weight: lighter;
}
