@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body,
html {
    font-size: 15px;
    line-height: 1.4666666667;
    color: #000;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Raleway', sans-serif;
}

.contacttopbanner {
    border-bottom: 5px none #2dafc3 !important;
    background-image: url(../images/headerimage.jpg) !important;
    background-position: 100% !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.plandata {
    background: #f7f7f7;
    padding: 16px;
    margin-top: 20px;
}

.tabdata li {
    width: 25% !important;
    text-align: center !important;
}

.cardformarea {
    -webkit-box-shadow: 0 0 18px 0 rgb(0 0 0 / 15%) !important;
    -moz-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 0 18px 0 rgb(0 0 0 / 15%) !important;
    background: #f7f7f7 !important;
    padding: 25px 60px !important;
    border-radius: 10px !important;
    margin-top: 50px !important;
}

.detailcard {
    -webkit-box-shadow: 0 0 18px 0 rgb(0 0 0 / 15%) !important;
    -moz-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 0 18px 0 rgb(0 0 0 / 15%) !important;
    background: #dddddd !important;
    padding: 25px !important;
    margin-bottom: 30px !important;
    border-radius: 10px !important;
}

.cardformarea p {
    font-size: 14px !important;
    font-weight: 400 !important;
}

.tabsarea {
    padding: 50px !important;
}

.cardformarea h2 {
    font-size: 32px !important;
    font-weight: 600 !important;
    color: #465863 !important;
    margin-bottom: 20px !important;
}

.cardformarea h2 {
    font-size: 30px !important;
    font-weight: 600 !important;
    color: #465863 !important;
    margin-bottom: 20px !important;
}

.tabmenu li a {
    background: transparent !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    color: #465863 !important;
}

.tabmenu li a:hover {
    background: #beb28d !important;
    color: white !important;
}

.tabmenu li a:active {
    border: 0px solid !important;
    background: #beb28d !important;
}

.tabmenu li a {
    border: 0px solid !important;
    padding: 15px 0px !important;
    font-size: 15px !important;
    background: transparent !important;
}

.tabmenu li a:visited {
    background: #beb28d !important;
}

.linktext {
    color: #beb28d !important;
    cursor: pointer !important;
    font-weight: 600 !important;
}

.tabmenu {
    border-bottom: 0px solid !important;
}

.cardformarea input {
    height: 42px !important;
    border-radius: 4px !important;
    border: 1px solid #465863 !important;
    color: #465863 !important;
    font-size: 14px !important;
    margin-bottom: 25px !important;
}

.cardformarea select {
    height: 42px !important;
    border-radius: 4px !important;
    border: 1px solid #465863 !important;
    color: #465863 !important;
    font-size: 14px !important;
    margin-bottom: 25px !important;
}

.cardformarea label {
    color: #465863 !important;
    font-size: 15px !important;
}

.cardformarea h5 {
    color: #465863 !important;
    font-size: 15px !important;
    margin-bottom: 17px !important;
    font-weight: 500 !important;
}

.detailcard p {
    font-style: italic !important;
    color: #465863 !important;
    font-weight: 500 !important;
    margin-top: 7px !important;
}

.contclik {
    background: #beb28d !important;
    border-color: #beb28d !important;
    color: white !important;
    width: 15% !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    padding: 8px !important;
}

.contclik:hover {
    background: #beb28d !important;
    border-color: #beb28d !important;
    color: white !important;
}

.examplemail {
    margin-top: 35px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #465863 !important;
}

.option p {
    font-size: 13px !important;
    font-weight: 400 !important;
    margin-top: -10px !important;
    font-style: italic !important;
}

.braketdata {
    font-size: 13px !important;
    font-weight: 400 !important;
    margin-top: -10px !important;
    font-style: italic !important;
    color: #a52a2a8f !important;
    margin-bottom: 20px !important;
}

.memoreadio {
    display: flex !important;
    background: #dddddd !important;
    padding: 25px !important;
    margin-top: 20px !important;
}

.memoreadio input {
    width: 21px !important;
    margin: 0px 5px !important;
}

.memoreadio p {
    font-size: 14px !important;
    margin: 12px 10px !important;
    font-style: inherit !important;
    margin-top: -2px !important;
    color: #465863 !important;
}

.optrad h6 {
    margin: 9px 10px !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    color: #465863 !important;
}

.confi label {
    font-size: 13px !important;
    position: relative !important;
    top: -16px !important;
}

.confi input {
    width: 18px !important;
    margin: 0px 5px !important;
}

.confi {
    margin-top: 50px !important;
}







@media only screen and (max-width : 480px) {
    .tabsarea {
        padding: 25px !important;
    }

    .tabmenu li a {
        font-size: 9px !important;
    }

    .cardformarea {
        padding: 25px 25px !important;
    }

    .cardformarea h2 {
        font-size: 22px !important;
    }

    .contclik {
        width: auto !important;
    }

    .memoreadio input {
        width: 60px !important;
    }

    .optrad h6 {
        font-size: 13px !important;
    }

    .memoreadio p {
        font-size: 11px !important;
    }

    .confi {
        margin-top: 25px !important;
    }
}