<html>
<div class="reviewBox">
    <ul class="reviewSection">
        <li>
            <img src="{!$!image!$!}">
        </li>
        <li>
            <h3>{!$!user_name!$!}</h3>
            <h5>{!$!date!$!}</h5>
            <p>{!$!details!$!}</p>
        </li>
    </ul>
</div>



<h5>{!$!date!$!}</h5>
<ul>
    <li class="no-img"><i class="fa fa-picture-o" aria-hidden="true"></i></li>
    <li class="contentLi">{!$!message!$!}</li>
</ul>
<ul>
    <li class="no-img"><i class="fa fa-picture-o" aria-hidden="true"></i></li>
    <li class="contentLi">Vivi Armenta added 5 photos.</li>
</ul>
<ul>
    <li class="no-img"><i class="fa fa-picture-o" aria-hidden="true"></i></li>
    <li class="contentLi">Vivi Armenta added 5 photos.</li>
</ul>
<ul>
    <li class="no-img"><i class="fa fa-picture-o" aria-hidden="true"></i></li>
    <li class="contentLi">Vivi Armenta added 5 photos.</li>
</ul>
<ul>
    <li class="no-img"><i class="fa fa-picture-o" aria-hidden="true"></i></li>
    <li class="contentLi">Vivi Armenta added 5 photos.</li>
</ul>



</html>

