@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body,
html {
    font-size: 15px;
    line-height: 1.4666666667;
    color: #000;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Raleway', sans-serif;
}

.contacttopbanner {
    border-bottom: 5px none #2dafc3;
    background-image: url(../images/headerimage.jpg);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.aboutheading {
    padding: 100px;
}

.infobox {
    display: flex;
    margin-top: 40px;
}

.infobox img {
    height: 60px;
}

.loca img {
    width: 115px;
}

.infoboxtext p {
    color: #465863;
    font-size: 18px;
    font-weight: 600;
    margin: 19px 25px;
    margin-top: 12px;
}

.contactform {
    -webkit-box-shadow: 0 0 18px 0 rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 18px 0 rgb(0 0 0 / 15%);
    background: #f7f7f7;
    padding: 30px;
    border-radius: 20px;
    margin: 50px;
}

.contactform h2 {
    margin-top: 8px;
    color: #465863;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.contactform label {
    color: #465863;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 5px;
}

.contactform input {
    height: 45px;
    border: 1px solid #465863;
    border-radius: 9px;
    color: #465863;
}

.contactform select {
    height: 45px;
    border: 1px solid #465863;
    border-radius: 9px;
    color: #465863;
}

.contactform textarea {
    border: 1px solid #465863;
    border-radius: 9px;
    color: #465863;
}

.conuniq {
    margin-top: 150px;
}





@media only screen and (max-width : 480px) {
    .aboutheading {
        padding: 50px;
    }

    .aboutheading h1 {
        margin-bottom: 20px !important;
    }

    .conuniq {
        margin-top: 0px;
    }

    .contactform {
        -webkit-box-shadow: 0 0 18px 0 rgb(0 0 0 / 15%);
        -moz-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 0 18px 0 rgb(0 0 0 / 15%);
        background: #f7f7f7;
        padding: 25px;
        border-radius: 20px;
        margin: 10px;
        margin-bottom: 50px;
    }

    .contactform h2 {
        font-size: 22px;
    }

    .contactform input {
        height: 35px;
        border-radius: 4px;
    }

    .contactform select {
        height: 35px;
        border-radius: 4px;
    }

    .contactform textarea {
        border-radius: 4px;
    }
}