
.outer-bx {
    /* border: #d0e3ef solid 1px; */
    /* border-radius: 10px; */
    /* margin: 15px 0px; */
    /* background: #f7f7f7; */
    -webkit-box-shadow: 0 0 18px 0 rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 18px 0 rgb(0 0 0 / 15%);
    background: #f7f7f7;
    padding: 30px;
    border-radius: 20px;
    margin: 25px;
}


.img-bx {
    border: #beb28d solid 1px;
    height: 261px;
    margin: 19px 45px;
    border-radius: 36px;
    overflow: hidden;
    /* filter: blur(2px); */
    background: #1e3439;
    color: white;
}
.plandatas {
    padding: 15px;
    border-radius: 7px;
    margin: 11px;
}
.plandatas h4 {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 30px;
}
.inerpkgclick {
    margin-top: 30px;
}
.banclick {
    width: 25%;
}